In [1]:
import pandas as pd
import numpy as np

In [3]:
import json

In [5]:
data = []
with open("listhub_incremental_202409241307.json", "r") as f:
    for line in f:
        data.append(json.loads(line.strip()))

In [8]:
import json
import csv

# Input and output file paths
json_file_path = "listhub_incremental_202409241307.json"  # Replace with your JSON file path
csv_file_path = "output.csv"  # Output CSV file path

# Open the CSV file for writing
with open(csv_file_path, "w", newline='', encoding="utf-8") as csv_file:
    csv_writer = None  # Writer object (will be initialized once)
    
    # Open the JSON file
    with open(json_file_path, "r", encoding="utf-8") as json_file:
        for line in json_file:
            try:
                # Load each line as a JSON object
                data = json.loads(line.strip())
                
                # Flatten and process data for CSV (if nested)
                if csv_writer is None:
                    # Extract the column names (keys) on the first valid line
                    csv_writer = csv.DictWriter(csv_file, fieldnames=data.keys())
                    csv_writer.writeheader()
                
                # Write the data into the CSV file
                csv_writer.writerow(data)
            
            except json.JSONDecodeError as e:
                print(f"Skipping invalid line: {e}")

print(f"JSON data has been successfully written to {csv_file_path}")

JSON data has been successfully written to output.csv

In [9]:
data = pd.read_csv("output.csv")

In [10]:
data.head()

,@odata.id,AccessibilityFeatures,AccessibleElevatorInstalled,Appliances,ArchitecturalStyle,Basement,BathroomsFull,BathroomsHalf,BathroomsOneQuarter,BathroomsThreeQuarter,...,UnitNumber,UnparsedAddress,Utilities,Vegetation,View,WaterfrontFeatures,WaterfrontYN,WindowFeatures,YearBuilt,YearBuiltEffective
0,https://api.listhub.com/odata/Property('3yd-MA...,[],NaN,"['Dishwasher', 'Dryer', 'Ice Maker', 'Microwav...",['Contemporary'],NaN,9,4,0,0,...,NaN,4736 N Bay Rd,['Cable Available'],[],['Water'],"['Ocean Access', 'Waterfront']",True,['Skylight(s)'],2024.0,NaN
1,https://api.listhub.com/odata/Property('3yd-MA...,[],NaN,[],['Other'],NaN,0,0,0,0,...,NaN,Smoke Shop Near Fiu SW 107 AVe,[],[],[],[],False,[],NaN,NaN
2,https://api.listhub.com/odata/Property('3yd-MA...,['Accessible Elevator Installed'],NaN,"['Dishwasher', 'Dryer', 'Microwave', 'Range', ...",['Other'],NaN,1,1,0,0,...,503,1605 Bay Rd,['Cable Available'],[],[],[],False,[],1982.0,NaN
3,https://api.listhub.com/odata/Property('3yd-MA...,"['Accessible Approach with Ramp', 'Accessible ...",NaN,"['Dishwasher', 'Dryer', 'Microwave', 'Range', ...",['High Rise'],NaN,1,0,0,0,...,702,140 S Dixie Hwy,[],[],[],[],False,[],2007.0,NaN
4,https://api.listhub.com/odata/Property('3yd-MA...,[],NaN,"['Dishwasher', 'Dryer', 'Garbage Disposer', 'T...",['Other'],NaN,2,0,0,0,...,910,5252 NW 85th Ave,[],[],['Golf Course'],[],False,[],2016.0,NaN

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3855 entries, 0 to 3854
Columns: 111 entries, @odata.id to YearBuiltEffective
dtypes: bool(8), float64(15), int64(11), object(77)
memory usage: 3.1+ MB

In [13]:
data["AccessibilityFeatures"].unique()

array(['[]', "['Accessible Elevator Installed']",
       "['Accessible Approach with Ramp', 'Accessible Elevator Installed']",
       "['Accessible Approach with Ramp']"], dtype=object)

In [16]:
data["Appliances"]

0       ['Dishwasher', 'Dryer', 'Ice Maker', 'Microwav...
1                                                      []
2       ['Dishwasher', 'Dryer', 'Microwave', 'Range', ...
3       ['Dishwasher', 'Dryer', 'Microwave', 'Range', ...
4       ['Dishwasher', 'Dryer', 'Garbage Disposer', 'T...
                              ...
3850        ['Range', 'Range - Electric', 'Refrigerator']
3851    ['Dishwasher', 'Dryer', 'Microwave', 'Range', ...
3852    ['Dishwasher', 'Dryer', 'Microwave', 'Range', ...
3853    ['Dishwasher', 'Dryer', 'Microwave', 'Range', ...
3854      ['Dryer', 'Microwave', 'Range', 'Refrigerator']
Name: Appliances, Length: 3855, dtype: object

In [17]:
data.columns

Index(['@odata.id', 'AccessibilityFeatures', 'AccessibleElevatorInstalled',
       'Appliances', 'ArchitecturalStyle', 'Basement', 'BathroomsFull',
       'BathroomsHalf', 'BathroomsOneQuarter', 'BathroomsThreeQuarter',
       ...
       'UnitNumber', 'UnparsedAddress', 'Utilities', 'Vegetation', 'View',
       'WaterfrontFeatures', 'WaterfrontYN', 'WindowFeatures', 'YearBuilt',
       'YearBuiltEffective'],
      dtype='object', length=111)

In [18]:
data.shape

(3855, 111)

### *Task Instructions:*

1. 
- Identify Nullable Fields:
- Find all the fields that are nullable.
- For those fields, calculate the total occurrences of null values.

In [19]:
# null count

In [22]:
data.isnull().sum().sum()

70198

### Identify Nullable Fields:

In [23]:
data.isnull().sum()

@odata.id                         0
AccessibilityFeatures             0
AccessibleElevatorInstalled    3855
Appliances                        0
ArchitecturalStyle                0
                               ...
WaterfrontFeatures                0
WaterfrontYN                      0
WindowFeatures                    0
YearBuilt                       290
YearBuiltEffective             3855
Length: 111, dtype: int64

In [25]:
null_count = data.isnull().sum()
null_count

@odata.id                         0
AccessibilityFeatures             0
AccessibleElevatorInstalled    3855
Appliances                        0
ArchitecturalStyle                0
                               ...
WaterfrontFeatures                0
WaterfrontYN                      0
WindowFeatures                    0
YearBuilt                       290
YearBuiltEffective             3855
Length: 111, dtype: int64

In [28]:
nullable_fields = null_count[null_count>0]

In [29]:
nullable_fields

AccessibleElevatorInstalled     3855
Basement                        3855
BuilderName                     3523
Country                            5
CountyOrParish                     3
Directions                       331
ElementarySchool                2250
ElementarySchoolDistrict        3851
Elevation                       3855
EntryLevel                      3763
FranchiseAffiliation            2697
HighSchool                      2213
HighSchoolDistrict              3851
LandLeaseAmountFrequency        3855
Latitude                         277
LeaseAmountFrequency            3126
ListAgentFax                    3855
ListAgentStateLicense            210
ListAgentURL                     528
ListPriceLow                    3855
ListingContractDate              349
Location                         277
Longitude                        277
LotSizeAcres                     703
LotSizeArea                      802
MiddleOrJuniorSchool            2238
MiddleOrJuniorSchoolDistrict    3851
NumberOfUnitsTotal              3831
ParcelNumber                      16
PostalCity                         1
PublicRemarks                      7
StateOrProvince                   10
SubdivisionName                  119
TaxLegalDescription              530
UnitNumber                      3272
UnparsedAddress                   12
YearBuilt                        290
YearBuiltEffective              3855
dtype: int64

In [30]:
nullable_fields.sum()

70198

In [32]:
print("Nullable Fields and Null Value Counts:")
print("--------------------------------------")
print(nullable_fields)

Nullable Fields and Null Value Counts:
--------------------------------------
AccessibleElevatorInstalled     3855
Basement                        3855
BuilderName                     3523
Country                            5
CountyOrParish                     3
Directions                       331
ElementarySchool                2250
ElementarySchoolDistrict        3851
Elevation                       3855
EntryLevel                      3763
FranchiseAffiliation            2697
HighSchool                      2213
HighSchoolDistrict              3851
LandLeaseAmountFrequency        3855
Latitude                         277
LeaseAmountFrequency            3126
ListAgentFax                    3855
ListAgentStateLicense            210
ListAgentURL                     528
ListPriceLow                    3855
ListingContractDate              349
Location                         277
Longitude                        277
LotSizeAcres                     703
LotSizeArea                      802
MiddleOrJuniorSchool            2238
MiddleOrJuniorSchoolDistrict    3851
NumberOfUnitsTotal              3831
ParcelNumber                      16
PostalCity                         1
PublicRemarks                      7
StateOrProvince                   10
SubdivisionName                  119
TaxLegalDescription              530
UnitNumber                      3272
UnparsedAddress                   12
YearBuilt                        290
YearBuiltEffective              3855
dtype: int64

In [33]:
print("\nTotal Null Values in Dataset:", nullable_fields.sum())

Total Null Values in Dataset: 70198

### â€ƒ
2. 

#### Identify 'Lake View' Properties:
1. Use regular expressions to determine whether a property has a lake view.
2. Search for mentions of "lake view" in the following fields:
- PublicRemarks
- WaterfrontFeatures[]
- View[]
3. Your search should return True or False for each property, based on whether "lake view" is mentioned. For example:

- If "lake view in the north" or "lake view from window" is found, the result should be True.

In [39]:
import re

In [101]:
search_pattern = re.compile(r"lake", re.IGNORECASE)

In [102]:
search_pattern

re.compile(r'lake', re.IGNORECASE|re.UNICODE)

In [103]:
# Function to search for 'lake view' across all fields
def search_lake_view(row):
    search_pattern = re.compile(r"lake", re.IGNORECASE)  # Case-insensitive regex
    
    for col in data.columns:  # Iterate through all columns
        value = str(row[col])  # Convert column value to string
        if search_pattern.search(value):  # Check for 'lake view'
            return True
    return False

In [104]:
data.apply(search_lake_view, axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
3850    False
3851     True
3852    False
3853    False
3854    False
Length: 3855, dtype: bool

In [105]:
data.apply(search_lake_view, axis=1).sum()

1521

In [106]:
data.apply(search_lake_view, axis=1) == 0

0        True
1        True
2        True
3        True
4        True
        ...
3850     True
3851    False
3852     True
3853     True
3854     True
Length: 3855, dtype: bool

In [107]:
(data.apply(search_lake_view, axis=1) == 0).sum()

2334

In [108]:
data[data.apply(search_lake_view, axis=1) == 0]

,@odata.id,AccessibilityFeatures,AccessibleElevatorInstalled,Appliances,ArchitecturalStyle,Basement,BathroomsFull,BathroomsHalf,BathroomsOneQuarter,BathroomsThreeQuarter,...,UnitNumber,UnparsedAddress,Utilities,Vegetation,View,WaterfrontFeatures,WaterfrontYN,WindowFeatures,YearBuilt,YearBuiltEffective
0,https://api.listhub.com/odata/Property('3yd-MA...,[],NaN,"['Dishwasher', 'Dryer', 'Ice Maker', 'Microwav...",['Contemporary'],NaN,9,4,0,0,...,NaN,4736 N Bay Rd,['Cable Available'],[],['Water'],"['Ocean Access', 'Waterfront']",True,['Skylight(s)'],2024.0,NaN
1,https://api.listhub.com/odata/Property('3yd-MA...,[],NaN,[],['Other'],NaN,0,0,0,0,...,NaN,Smoke Shop Near Fiu SW 107 AVe,[],[],[],[],False,[],NaN,NaN
2,https://api.listhub.com/odata/Property('3yd-MA...,['Accessible Elevator Installed'],NaN,"['Dishwasher', 'Dryer', 'Microwave', 'Range', ...",['Other'],NaN,1,1,0,0,...,503,1605 Bay Rd,['Cable Available'],[],[],[],False,[],1982.0,NaN
3,https://api.listhub.com/odata/Property('3yd-MA...,"['Accessible Approach with Ramp', 'Accessible ...",NaN,"['Dishwasher', 'Dryer', 'Microwave', 'Range', ...",['High Rise'],NaN,1,0,0,0,...,702,140 S Dixie Hwy,[],[],[],[],False,[],2007.0,NaN
4,https://api.listhub.com/odata/Property('3yd-MA...,[],NaN,"['Dishwasher', 'Dryer', 'Garbage Disposer', 'T...",['Other'],NaN,2,0,0,0,...,910,5252 NW 85th Ave,[],[],['Golf Course'],[],False,[],2016.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3849,https://api.listhub.com/odata/Property('3yd-RM...,[],NaN,"['Dryer', 'Range', 'Refrigerator']",['Other'],NaN,2,0,0,0,...,NaN,8571 Duchess Court W,[],[],[],[],False,[],1979.0,NaN
3850,https://api.listhub.com/odata/Property('3yd-RM...,[],NaN,"['Range', 'Range - Electric', 'Refrigerator']",['Other'],NaN,1,0,0,0,...,455,455 Tilford U,[],[],[],[],False,[],1975.0,NaN
3852,https://api.listhub.com/odata/Property('3yd-RM...,[],NaN,"['Dishwasher', 'Dryer', 'Microwave', 'Range', ...",['Other'],NaN,2,0,0,0,...,A,270 High Point Boulevard,[],[],[],[],False,[],1970.0,NaN
3853,https://api.listhub.com/odata/Property('3yd-RM...,[],NaN,"['Dishwasher', 'Dryer', 'Microwave', 'Range', ...",['Other'],NaN,2,0,0,0,...,NaN,1021 SW Becker Road,[],[],[],[],False,[],2021.0,NaN
3854,https://api.listhub.com/odata/Property('3yd-RM...,[],NaN,"['Dryer', 'Microwave', 'Range', 'Refrigerator']",['Other'],NaN,1,0,0,0,...,NaN,1531 NE 30 Street,[],[],[],[],False,[],1955.0,NaN

In [109]:
df2 = data[data.apply(search_lake_view, axis=1) == 0][["PublicRemarks", "WaterfrontFeatures", "View"]]
df2

,PublicRemarks,WaterfrontFeatures,View
0,For further information please contact listing...,"['Ocean Access', 'Waterfront']",['Water']
1,Smoke shop near FIU next to off campus housing...,[],[]
2,This South Beach Gem checks all of the boxes. ...,[],[]
3,Reduced to sale!!! Lowest unit in the building...,[],[]
4,Building only allows Showings Monday to Friday...,[],['Golf Course']
...,...,...,...
3849,Sea Meadow is located 6.1 miles from the sands...,[],[]
3850,Welcome to Century Village in Deerfield BeachN...,[],[]
3852,"Completely renovated with modern finishings, s...",[],[]
3853,"Beautiful CBS home 3 beds, 2 baths, 2 car gara...",[],[]
3854,This cute and cozy pet friendly efficiency inc...,[],[]

In [110]:
df2["View"].unique()

array(["['Water']", '[]', "['Golf Course']", "['Other']", "['Ocean']",
       "['None']", "['River']", "['Ocean', 'Other']", "['City']",
       "['Ocean', 'Water']", "['None', 'Other']",
       "['City', 'Ocean', 'Other', 'Water']", "['City', 'Water']",
       "['City', 'Other', 'Water']", "['Other', 'Water']",
       "['Golf Course', 'Ocean']", "['City', 'Other']",
       "['Other', 'River']", "['City', 'Ocean']"], dtype=object)

In [111]:
df2["WaterfrontFeatures"].unique()

array(["['Ocean Access', 'Waterfront']", '[]',
       "['Canal Front', 'Waterfront']",
       "['Ocean Access', 'Ocean Front', 'Waterfront']", "['Waterfront']",
       "['Ocean Front', 'Waterfront']", "['Canal Access', 'Waterfront']",
       "['Navigable Water', 'Ocean Access', 'River Front', 'Waterfront']",
       "['Canal Access', 'Canal Front', 'Intersecting Canal', 'Navigable Water', 'Waterfront']",
       "['Ocean Access']", "['Canal Front', 'Seawall', 'Waterfront']",
       "['Seawall', 'Waterfront']",
       "['Canal Access', 'Canal Front', 'Ocean Access', 'Waterfront']",
       "['Ocean Access', 'Ocean Front']", "['River Front', 'Waterfront']",
       "['Navigable Water', 'Waterfront']",
       "['Canal Access', 'Ocean Front', 'Seawall', 'Waterfront']",
       "['Ocean Front']", "['Canal - Saltwater', 'Waterfront']",
       "['Pond', 'Waterfront']",
       "['Canal - Freshwater', 'Freshwater Canal W/Lift To Saltwater Canal', 'Waterfront']",
       "['Creek', 'Waterfront']", "['Gulf/Ocean', 'Waterfront']",
       "['Canal - Freshwater', 'Waterfront']",
       "['Beach Front', 'Gulf/Ocean', 'Waterfront']",
       "['Canal - Brackish', 'Waterfront']",
       "['Canal - Saltwater', 'Canal Front', 'Waterfront']",
       "['Canal - Brackish', 'Canal - Saltwater', 'Lagoon', 'Waterfront']",
       "['Canal - Brackish', 'Canal - Saltwater', 'Waterfront']",
       "['Beach Front', 'Waterfront']",
       "['Canal - Saltwater', 'River Front', 'Waterfront']",
       "['Canal - Freshwater', 'River Front', 'Waterfront']",
       "['Freshwater Canal W/Lift To Saltwater Canal', 'Waterfront']",
       "['Canal - Saltwater', 'Gulf/Ocean To Bay', 'Waterfront']",
       "['Beach Front', 'Gulf/Ocean', 'Gulf/Ocean To Bay', 'Waterfront']",
       "['Gulf/Ocean To Bay', 'Waterfront']",
       "['Canal - Brackish', 'River Front', 'Waterfront']",
       "['Oceanfront', 'Waterfront']",
       "['Waterfront', '100 Feet Of Waterfront']",
       "['Waterfront', '20 Feet Of Waterfront']",
       "['Canal Width 1 - 80', 'Waterfront']", "['Canal Width 1 - 80']"],
      dtype=object)

In [114]:
df2["PublicRemarks"]

0       For further information please contact listing...
1       Smoke shop near FIU next to off campus housing...
2       This South Beach Gem checks all of the boxes. ...
3       Reduced to sale!!! Lowest unit in the building...
4       Building only allows Showings Monday to Friday...
                              ...
3849    Sea Meadow is located 6.1 miles from the sands...
3850    Welcome to Century Village in Deerfield BeachN...
3852    Completely renovated with modern finishings, s...
3853    Beautiful CBS home 3 beds, 2 baths, 2 car gara...
3854    This cute and cozy pet friendly efficiency inc...
Name: PublicRemarks, Length: 2334, dtype: object

In [112]:
row_1 = data[data.apply(search_lake_view, axis=1) == 0].iloc[0,:].reset_index()
row_1

,index,0
0,@odata.id,https://api.listhub.com/odata/Property('3yd-MA...
1,AccessibilityFeatures,[]
2,AccessibleElevatorInstalled,NaN
3,Appliances,"['Dishwasher', 'Dryer', 'Ice Maker', 'Microwav..."
4,ArchitecturalStyle,['Contemporary']
...,...,...
106,WaterfrontFeatures,"['Ocean Access', 'Waterfront']"
107,WaterfrontYN,True
108,WindowFeatures,['Skylight(s)']
109,YearBuilt,2024.0
110,YearBuiltEffective,NaN

In [113]:
row_1[0].unique()

array(["https://api.listhub.com/odata/Property('3yd-MAORFL-A11307492')",
       '[]', nan,
       "['Dishwasher', 'Dryer', 'Ice Maker', 'Microwave', 'Oven', 'Range', 'Refrigerator', 'Washer']",
       "['Contemporary']", nan, 9, 4, 0, 13, nan, 'US', 'Miami-Dade',
       "{'AlternatePrices': [], 'BrokerName': 'Luxe Living Realty', 'BuilderEmail': None, 'BuilderFax': None, 'BuilderPhone': None, 'City': None, 'Country': None, 'Expenses': [], 'GeocodeOptions': None, 'LeadRoutingEmail': 'info@dorapuig.com', 'ListBrokerageCity': 'Miami Beach', 'ListBrokerageCountry': 'US', 'ListBrokerageEmail': 'dora@dorapuig.com', 'ListBrokerageLogoUrl': 'http://brokerlogos.listhub.net/MAORFL/10faeb3105c611e38f9112313d096a22/20170712191833454.png', 'ListBrokerageName': 'Luxe Living Realty', 'ListBrokeragePhone': '(305) 613-2118', 'ListBrokeragePostalCode': '33139', 'ListBrokerageStateOrProvince': 'FL', 'ListBrokerageUnitNumber': 'Suite 100', 'ListBrokerageUnparsedAddress': '1680 Michigan Avenue', 'ListBrokerageWebsiteUrl': None, 'ListOfficeAddress1': '1680 Michigan Ave', 'ListOfficeAddress2': 'Ste 100', 'ListOfficeBrokerMlsId': '3268462', 'ListOfficeCity': 'Miami Beach', 'ListOfficeCountry': 'US', 'ListOfficeEmail': 'info@dorapuig.com', 'ListOfficePostalCode': '33139', 'ListOfficeStateOrProvince': 'FL', 'ListPriceCurrencyType': 'USD', 'ListingTitle': 'Single Family Residence, Contemporary Modern,Detached - Miami Beach, FL', 'ListingURL': 'https://www.realtor.com/realestateandhomes-detail/4736-N-Bay-Rd_Miami-Beach_FL_33140_M63664-06689?f=listhub&s=MAORFL&m=A11307492&c=surflokal', 'MLSModificationTimestamp': '2024-09-23T18:46:29.000Z', 'Neighborhoods': [], 'PostalCode': None, 'RoomCount': None, 'StateOrProvince': None, 'Taxes': [{'TaxAnnualAmount': 209765, 'TaxDescription': None, 'TaxYear': '2022'}], 'UnitNumber': None, 'UnparsedAddress': None}",
       'Copyright Â© 2024 MIAMI Association of REALTORSÂ®. All rights reserved. All information provided by the listing agent/broker is deemed reliable but is not guaranteed and should be independently verified.',
       nan, nan, "['Fence', 'Lighting', 'Patio']", "['Fenced']",
       "['Marble', 'Other', 'Wood']", "['Central Furnace']",
       "['Wet Bar', 'Builtin Features', 'Bedroomon Main Level', 'Closet Cabinetry', 'Dining Area', 'Separate Formal Dining Room', 'Eatin Kitchen', 'First Floor Entry', 'Kitchen Island', 'Sitting Areain Primary', 'Skylights', 'Walk In Closets']",
       True, nan, 25.824547, 'info@dorapuig.com', nan, 'Dora',
       'Dora Puig', '3yd-MAORFL-3268462', 'Puig', '3268462', '3056736787',
       '3058734919', '3yd-MAORFL-LXLR01', 'LXLR01', 'Luxe Living Realty',
       80000000.0, nan, 'A11307492', '3yd-MAORFL-A11307492', 12552,
       'Square Feet', '[-80.135796, 25.824547]', -80.135799, nan, nan,
       'Acres',
       "[{'LongDescription': None, 'MediaCategory': 'Photo', 'MediaKey': '8c6e0e196c32b570ec6f8dbea8afbc9c667b8406', 'MediaModificationTimestamp': '2024-09-23T23:14:52.000Z', 'MediaURL': 'http://lh.rdcpix.com/504ea5e0d31a9b155f083c8c19b300d5l-f3008250898r.jpg', 'ShortDescription': None}]",
       '2024-09-24T00:07:59.970Z', nan, '02-32-22-011-0080',
       "['Covered', 'Driveway', 'Garage']", "['Patio']",
       '2024-09-23T23:14:52.000Z', 'Miami Beach', 33140,
       "['New Construction']", 'Single Family Residence', 'Residential',
       'For further information please contact listing Broker.',
       "['Concrete']",
       "['Bathroom 1', 'Bathroom 2', 'Bathroom 3', 'Bathroom 4', 'Bathroom 5', 'Bedroom 1', 'Bedroom 2', 'Bedroom 3', 'Bedroom 4', 'Bedroom 5']",
       'MAORFL', 'MIAMI Association of REALTORSÂ®', 'Pending', 'FL',
       'Nautilus Sub',
       'NAUTILUS SUB PB 8-95 LOT 8 BLK 1 LOT SIZE 110.000 X 231',
       'ForSale', '4736 N Bay Rd', "['Cable Available']", "['Water']",
       "['Ocean Access', 'Waterfront']", "['Skylight(s)']", 2024.0, nan],
      dtype=object)

In [128]:
def has_lake_view(row):
    search_pattern = re.compile(r"lake view", re.IGNORECASE)  # Case-insensitive regex
    
    # Check 'PublicRemarks', 'WaterfrontFeatures', and 'View'
    public_remarks = str(row['PublicRemarks']) if 'PublicRemarks' in row else ""
    waterfront = str(row['WaterfrontFeatures[]']) if 'WaterfrontFeatures[]' in row else ""
    view = str(row['View[]']) if 'View[]' in row else ""
    
    # Search for 'lake view' in all fields
    if (search_pattern.search(public_remarks) or 
        search_pattern.search(waterfront) or 
        search_pattern.search(view)):
        return True
    return False

In [117]:
data['Has_Lake_View'] = data.apply(has_lake_view, axis=1)

In [118]:
data["Has_Lake_View"]

0       False
1       False
2       False
3       False
4       False
        ...
3850    False
3851    False
3852    False
3853    False
3854    False
Name: Has_Lake_View, Length: 3855, dtype: bool

In [125]:
new_df = data[['PublicRemarks', 'WaterfrontFeatures', 'View', 'Has_Lake_View']]
new_df

,PublicRemarks,WaterfrontFeatures,View,Has_Lake_View
0,For further information please contact listing...,"['Ocean Access', 'Waterfront']",['Water'],False
1,Smoke shop near FIU next to off campus housing...,[],[],False
2,This South Beach Gem checks all of the boxes. ...,[],[],False
3,Reduced to sale!!! Lowest unit in the building...,[],[],False
4,Building only allows Showings Monday to Friday...,[],['Golf Course'],False
...,...,...,...,...
3850,Welcome to Century Village in Deerfield BeachN...,[],[],False
3851,Come and view the newest listing located in th...,[],[],False
3852,"Completely renovated with modern finishings, s...",[],[],False
3853,"Beautiful CBS home 3 beds, 2 baths, 2 car gara...",[],[],False
3854,This cute and cozy pet friendly efficiency inc...,[],[],False

In [127]:
file = "properties_with_lake_view1.csv"
new_df.to_csv(file, index=False)